
/* #1 */
body {
    display: flex;
    flex-flow: column;
    height: 100vh;
}

.navbar {
    margin-bottom: 0;
}

.home .navbar {
    margin-bottom: 0;
    background-color: transparent;
    border-color: transparent;
}

.home .navbar a {
    color: #acacac;
}

#container {
    display: flex;
    flex: auto;
    height: 100vh;
    flex-flow: column;
    align-items: center;
    opacity:0;
    transition: all .75s linear;
}

.home {
    background: transparent url('../img/homes.jpg') no-repeat center;
    background-size: cover;
}

.home #container {
    display: flex;
    flex-flow: column;
    justify-content: center;

}

.home .splash {
    color: #fff;
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 2em;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.splash .greeting {
    border-top: 1px solid #fff;
    padding-top: 1em;
}

.splash .name {
    font-weight: bold;
    text-transform: capitalize;
}


.edit {
    justify-content: center;
}

.edit form {
    width: auto;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}

.edit form .input-group label {
    width: 120px;
    padding-right: 1em;
    text-align: right;
}

.edit form .input-group input {
    width: 250px;
}

.edit form .input-group:last-child {
    text-align: right;
}

.edit form .input-group:last-child input {
    width: auto;
}

body.loaded #container {
    opacity: 1;
}

body.loaded.leaving #container {
    opacity: 0;
}



#loginbox {
    /*padding-top: 200px;
    width: 500px;
    margin: auto;*/
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-flow: row;
}

form {
    width: 300px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.input-group {
    margin-bottom: 0.5em;
}

.input-group:last-child {
    width: 100%;
}


.footer {
    /*margin-top: 30px;*/
    display: flex;
    margin-bottom: 0;
    align-items: center;
    justify-content: flex-start;
    flex: auto;
    font-size: .8em;
}

.home .footer {
    background-color: transparent;
    border: 0;
    color: #fff;
}



table.table {
    width: auto;
    box-shadow: 0 3px 12px rgba(0,0,0,0.15);
}

label { width: 200px;}

.viewHeader {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.viewHeader h1 {
    margin: 10px 0;
}

#map-canvas {
    width: 100%;
    display: flex;
    flex: 1;
}